
$ancho-box:80%;
$alto-box:300px;
$margin: 4%;


$colores:(
    fondo: white,
    titulares: #B43317,
    parrafo:#851B05,
    fondoT: linear-gradient(white 20%, #EFCDA6 100%),
    menu: #AA6655,
    background: #926F56,
    bajo: #EFCDA6,
    color2: #f1f1f1,
    subtitulos: #366D3F,
    segunda: #77BFE2,

);

$letra:(
    fuente: cursive,
    estilo: italic,
    fuente2: arial,
);
