@use '_commons' as c;

body {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: map-get(c.$colores, "fondo");
    width: 100%;
    background: map-get(c.$colores,"fondoT");

}

/* Logo, titulo y menu */

#header {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    padding-bottom: 2%;

    h1 {
        font-style: map-get(c.$letra, "estilo");
        font-family: map-get(c.$letra, "fuente");
        color: map-get(c.$colores, "titulares");

    }
}

.rayas {
    color: map-get(c.$colores, "menu");
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #aa6655e7;
    overflow-x: hidden;
    transition: 0.5s;

    & a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: map-get(c.$colores, "bajo");
        display: block;
        transition: 0.3s;
    }

    & a:hover,
    .overlay a:focus {
        color: map-get(c.$colores, "color2");
    }

}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/* media queries */

@media screen and (max-width: 1200px) {
    .nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
    }

    #main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;

        .bungalow-imagen {
            margin-bottom: (c.$margin);
        }
    }

}

@media only screen and (max-width: 600px) {
    .img {
        display: flex;
    }
}

@media screen and (min-width: 1400px) {
    #main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
    }

}

@media screen and (max-width: 1400px) {
    .bungalow-imagen {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        margin-bottom: (c.$margin);
    }

}

@media screen and (max-width: 768px) {

    #main {
        justify-content: space-around;
        align-content: stretch;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

}

@media screen and (min-width:768px) {

    #conteiner {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
    }

    .logo{
        height: 3cm;
        width: 3cm;
    }

}

@media screen and (min-width:1200px) {

    #conteiner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .row{
        margin-left: (c.$margin);

    }


}

/* Pagina de inicio */

h2 {
   padding: 1%;
    text-align: center;
    color: map-get(c.$colores, "subtitulos");
    font-family: map-get(c.$letra, "estilo");
    font-style: italic;
}

#locaciones {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    

    h4 {
        text-align: center;
        font-style: oblique;
        font-size: small;
    }

    @media screen and (min-width:768px) {
        img {
            height: 7cm;
        }

        display: flex;
        flex-direction: row;
    }

    .card1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 40%;
        margin-bottom: (c.$margin+1);
        background-color: map-get(c.$colores, "background");
        color: map-get(c.$colores, "segunda");

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

    }

    .card2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 40%;
        margin-bottom: (c.$margin+1);
        background-color: map-get(c.$colores, "background");
        color: map-get(c.$colores, "segunda");

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

    }

    .card3 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 40%;
        margin-bottom: (c.$margin+1);
        background-color: map-get(c.$colores, "background");
        color: map-get(c.$colores, "segunda");

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

    }

    .card4 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 40%;
        margin-bottom: 5%;
        background-color: map-get(c.$colores, "background");
        color: map-get(c.$colores, "segunda");

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

    }


    .container {
        padding: 2px 16px;
    }


}

#explicacion {
    padding: 1%;
    padding-top: 0%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;

    .texto {
        text-align: justify;
        color: map-get(c.$colores, "parrafo");
        padding-left: 5%;

    }

    @media screen and (min-width:1000px) {
        margin: 3%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "video" "texto"
        ;

    }
}

/* Bungalows pagina */

.col {
    color: map-get(c.$colores, "parrafo");
}

#main {
    padding-bottom: (c.$margin);
}

@media screen and (min-width: 1400px) {
    .boton{
        margin-top: 20%;
    }

}
  
.button {
    border-radius: 4px;
    background-color: map-get(c.$colores, "menu");
    border: none;
    color: map-get(c.$colores, "bajo");
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 30px;

    & span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
      
    & span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
      
    &:hover span {
        padding-right: 25px;

        &:after {
            opacity: 1;
            right: 0;
        }
    }
      
}
/* Suites pagina */

.col{
    color:map-get(c.$colores, "bajo");
}

/* Golf pagina */

.golf{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        .precios {
            margin-top: 30%;
        }
    }
}

.precios{
    margin-top: 2%;
    margin-left: 15%;
    color: map-get(c.$colores,"subtitulos");
  
}

/* Bungalows pagina */

.bunga{
    padding-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: map-get(c.$colores,"menu");
    color: map-get(c.$colores,"segunda");
    border-radius: 50%;
}

.bungalow-imagen {
    margin-left: 4%;
    margin-right: 4%;
}

/* Spa pagina */

.SPA__2 {
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;

    .col{
        color: map-get(c.$colores, "parrafo");
    }

    .row{
        margin-top: 4%;
        margin-left: 4%;
        padding-bottom: 7%;
    }

}

.btn {
    color: map-get(c.$colores, "parrafo");
    background-color: antiquewhite;
}

label {
    color: map-get(c.$colores, "parrafo");
   
}

/* Imagen */

.img {
    margin-left: 5cm;
}

/* falta favicon*/